<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/styles.css">
    <title>Contact Marshall Technology</title>
    <base href="/">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Providing technical solutions designed for making your life easier." />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta http-equiv="cleartype" content="on">
    <meta name="keywords" content="Marshall Technology Group, Marshall Tech, Marshall Technology LLC, Technology, technical solutions, run ads, consulting, technical consulting, financial consulting, Survey, Surveys, free online survey, free surveys, Customer Satisfaction, rising technology, start up, Quality technology, questionnaire, questionnaires, questionaire, questionaires, business technology, free business survey" />
    <meta name="theme-color" content="#FFF">
    <meta name="robots" content="INDEX, FOLLOW" />
    <meta name="revisit-after" content="1 day">
    <meta name="expires" content="never">
    <meta name="rating" content="General">
    <meta name="author" content="Marshall Technology, LLC">
    
    <meta property="og:site_name" content="marshalltechnologygroup.com" />
    <meta property="og:url" content="https://www.marshalltechnologygroup.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Marshall Technology, LLC" />
    <meta property="og:description" content="Providing technical solutions designed for making your life easier." />
    <meta property="og:image" content="images/marshallTechnology.png" />
    <meta property="og:image:type" content="image/jpg" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Marshall Technology, LLC" />
    <meta name="twitter:description" content="Providing technical solutions designed for making your life easier." />


    <link rel="icon" type="image/x-icon" href="images/favicon.png">
    <link rel="canonical" href="https://www.marshalltechnologygroup.com/">

</head>

<body>
    <header>
        <nav>
            <a href="/">Back</a>
            <div class="nope">
                <a href="https://www.facebook.com/surveyzulu/">facebook</a>
                <a href="/policy">Policy</a>
            </div>
        </nav>
    </header>
    <section class="main">
        <div class="main-text">
            <h1 class="nope">
                <a href="mailto:cam.marshall940@yahoo.com" target='_top'>
                Email us
                </a>
            </h1>
        </div>
        <picture>
            <source srcset="images/marshallTechnology.png">
            <img src="images/marshallTechnology.png" alt="Marshall Technology LOGO" id="logo">
        </picture>
    </section>
    <footer>
        <section>
            <h2>Connect with us</h2>
            <nav>
                <a href="https://surveyzulu.com">
                    Surveys service
                </a>
                <a href="mailto:cam.marshall940@yahoo.com" target='_top'>
                    Email
                </a>
                <a href="/about">
                    Company
                </a>
                <a href="/contact" alt="Contact partnerships">
                    Partnerships
                </a>
                <a href="/contact" alt="Contact to run ads">
                    Ad Management
                </a>
            </nav>
        </section>
        <section>
            <h6>
                <a href="/policy">&copy; 2019 Marshall Technology, LLC. All Rights Reserved.</a>
            </h6>
        </section>
    </footer>
</body>

</html>