<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/styles.css">
    <title>Policy Marshall Technology</title>
    <base href="/">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Providing technical solutions designed for making your life easier." />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta http-equiv="cleartype" content="on">
    <meta name="keywords" content="Marshall Technology Group, Marshall Tech, Marshall Technology LLC, Technology, technical solutions, run ads, consulting, technical consulting, financial consulting, Survey, Surveys, free online survey, free surveys, Customer Satisfaction, rising technology, start up, Quality technology, questionnaire, questionnaires, questionaire, questionaires, business technology, free business survey" />
    <meta name="theme-color" content="#FFF">
    <meta name="robots" content="INDEX, FOLLOW" />
    <meta name="revisit-after" content="1 day">
    <meta name="expires" content="never">
    <meta name="rating" content="General">
    <meta name="author" content="Marshall Technology, LLC">
    
    <meta property="og:site_name" content="marshalltechnologygroup.com" />
    <meta property="og:url" content="https://www.marshalltechnologygroup.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Marshall Technology, LLC" />
    <meta property="og:description" content="Providing technical solutions designed for making your life easier." />
    <meta property="og:image" content="images/marshallTechnology.png" />
    <meta property="og:image:type" content="image/jpg" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Marshall Technology, LLC" />
    <meta name="twitter:description" content="Providing technical solutions designed for making your life easier." />


    <link rel="icon" type="image/x-icon" href="images/favicon.png">
    <link rel="canonical" href="https://www.marshalltechnologygroup.com/">

</head>

<body>
    <section class="rights">
        <div class="col">
            <P>
                <b>Privacy/Rights and Use Information</b>
            </P>
            <span>
                By using this application, you agree to the conditions set forth below (this "Agreement"). If you
                disagree
                with any of the conditions of this Agreement, do not use this application. We reserve the right to
                change
                this Agreement at any time, so please check for changes to this Agreement each time you use this
                application. Your continued use of this site following the posting of changes to this Agreement means
                that
                you accept those changes.
            </span>
            <P>
                <b>Licenses and Restrictions</b>
            </P>
            <span>
                This application is owned and operated by Marshall Evans LLC (hereinafter "Marshall Technology, LLC", "we", "us", or
                a
                similar term). Material found at this application (including visuals, text, displays, databases, media,
                and
                general information) is owned or licensed by us. Unless
                otherwise indicated, individuals may: post material from portions of this application to another website
                or
                on a computer network for their own personal, noncommercial use; and view, download, and print materials
                from this application for their own personal, noncommercial use. In this regard, materials may not be
                posted from this application to another website. In addition, materials from this application may be
                reproduced by media personnel for use in traditional public news forums unless otherwise indicated. Any
                other use of information or materials found at this application, including any use by organizations or
                legal entities, is not permitted without our prior written permission. (See “Permission to Use
                Copyrights
                and Trademarks” below.) Notwithstanding the foregoing, we reserve sole discretion and right to deny,
                revoke, or limit use of this application, including the reproduction and any other use of any materials
                available through this application. It is not our responsibility, however, to determine what “fair use”
                means for persons wishing to use materials from this application. That remains wholly a responsibility
                of
                individual users of this application. Furthermore, we are not required to give additional source
                citations,
                or to guarantee that the materials of this application are cleared for any alternate use. Such
                responsibility also ultimately remains with individual users of this application. However, we maintain
                the
                right to prevent infringement of Marshall Technology, LLC materials and to interpret “fair use” as we understand the
                law.
            </span>
            <P>
                <b>Permission to Use Copyrights and Trademarks</b>
            </P>
            <span>
                To request permission for use of Marshall Technology, LLC copyrighted material or trademarks, please contact us at
                Phone: (940)808-8285
                E-mail: cam.marshall940@yahoo.com
            </span>
            <P>
                <b>Request Permission</b>
            </P>
            <span>
                Note: The approximate time frame for receiving a reply is 45 days. Requests involving considerable
                quantities of material
                may take longer.
            </span>
            <P>
                <b>Code of Conduct</b>
            </P>
            <span>
                You agree that you will not individually, or as part of any collective effort, submit or post
                information
                to this application that could be deemed harmful or offensive to other users, nor will you impersonate
                another user in order to hide your identity or implicate another in such actions. You agree to do
                nothing
                that might disrupt the flow of data to and from this application, impact the service or performance of
                this
                application, or circumvent any of the controls or usage rules that we have implemented. You understand
                that
                the result of harmful or offensive actions may include revocation of your right to use this application
                (including your right to use any materials from this application) and legal action against you.
            </span>
            <P>
                <b>Linking</b>
            </P>
            <span>
                For your convenience, this application may contain links to websites operated by others. Such
                third-party
                sites are not maintained or controlled by us, and we are not responsible for their content. Although we
                have made a good faith effort to link only to tasteful, appropriate sites, some may contain
                inappropriate
                or objectionable material. If you find such material while using a website that you accessed through a
                link
                on this application, please notify us immediately. We believe that those who make information available
                on
                the Internet expect that it will be publicly and widely available. Therefore, we believe that linking to
                other sites is legally permissible and consistent with the expectations of those who use the Internet.
                However, if access to a particular website should be restricted, the operator of such site should
                promptly
                notify us.
            </span>
            <P>
                <b>Jurisdiction and Applicable Law</b>
            </P>
            <span>
                This Agreement shall be governed by the laws of the State of Texas, United States of America, as applied
                to
                agreements entered into and to be performed entirely within the state, without giving effect to any
                principles of conflicts of law. Any action you bring to enforce this Agreement or any matters related to
                this application shall be brought in either the state or federal courts located in Denton, Texas, and
                you
                hereby consent and submit to the personal jurisdiction of such courts for the purposes of litigating any
                such action. If any provision of this Agreement is unlawful, void, or unenforceable in whole or in part,
                the remaining provisions shall not be affected, unless we determine that the invalid or unenforceable
                provision is an essential term to the Agreement, in which case we may at our sole discretion amend this
                Agreement.
            </span>
            <P>
                <b>Limitations of Liability</b>
            </P>
            <span>
                We are not liable for any special or consequential damages resulting from your use of, or your inability
                to
                use, this application or the materials in this application or any linked site, including, but not
                limited
                to, lost profits, business interruption, and loss of programs or other data on your information handling
                system. In no event shall our total liability to you for all damages, losses, and causes of action
                exceed
                the amount paid by you, if any, for accessing this application or any linked site.
            </span>
            <P>
                <b>Disclaimers</b>
            </P>
            <span>
                THIS APPLICATION AND THE MATERIALS AT THIS APPLICATION AND ANY LINKED SITE ARE PROVIDED “AS IS” AND
                WITHOUT
                WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO
                APPLICABLE
                LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE
                AND
                IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. WE DO NOT WARRANT THAT THE
                FUNCTIONS OF THIS APPLICATION WILL BE UNINTERRUPTED OR ERROR FREE, THAT DEFECTS WILL BE CORRECTED, OR
                THAT
                THIS APPLICATION OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
            </span>
            <P>
                <b>Trademarks</b>
            </P>
            <span>
                These marks are identifiers of Marshall Technology, LLC and are registered in the United States and other countries.
                For additional
                information regarding Marshall Technology, LLC trademarks and service marks and their proper use, please contact ME
                LLC
                Group.
            </span>
            <P>
                <b>Questions</b>
            </P>
            <span>
                For further assistance or information regarding Marshall Technology, LLC trademarks and copyrighted materials, you
                may
                contact Marshall Technology, LLC at: Phone: (940)808-8285 E-mail: cam.marshall940@yahoo.com Effective date:
                December
                1, 2019
            </span>
        </div>
    </section>

</body>

</html>